---
import Section from "./Section.astro";
import Software from "../../assets/homeIcons/20.svg";
import Mail from "../../assets/homeIcons/25.svg";
import Email from "../../assets/homeIcons/26.svg";
import { Image } from "astro:assets";
import SectionTitle from "../ui/SectionTitle.astro";

---

<Section id="contact" >
  <div class=" bg-[#f9e0f2] flex flex-col items-center justify-center py-32 pb-80 space-y-10 select-none">
    <SectionTitle
    sectionTitle="Contact Us"
    description=""
  />

  <div class="flex flex-row justify-center pb-6 ">

    <div class="flex flex-col relative justify-center items-center  overflow-hidden space-y-10">

      <span class="text-2xl w-4/5 text-center">Need a workflow automated or legacy scientific software modernized? </span>

      <button type="submit" name="submit" class="btn-primary" onclick="window.location='mailto:hi@effie.bio'">Contact Us</button>

    </div>  

    <!-- <Image src={Mail} alt="browser" height={220} class="pb-32 pl-6"></Image> -->
  </div>

  </div>
</Section>
