---
import { Image } from "astro:assets";
import Gene from "../../assets/pics/coolGene.svg";
import Software from "../../assets/homeIcons/20.svg";
import Microscope from "../../assets/homeIcons/21.svg";
import Pipette from "../../assets/homeIcons/22.svg";
import Files from "../../assets/homeIcons/23.svg";
import Computer from "../../assets/homeIcons/24.svg";


import Protein from "../../assets/pics/redProtein.svg";

import Section from "./Section.astro";
---

<Section id="home" class=" min-h-screen overflow-hidden">
  <!-- Background Half Circle -->
  <!-- <div class="absolute w-full h-[50vw] bottom-0 left-1/2 -translate-x-1/2">
    <div class="w-full h-full rounded-t-full bg-[#F3EEE8]"></div>
    <div class="bg-[#dddddd] w-full h-[60px]"></div>
  </div> -->

  <div class="flex flex-row min-h-screen justify-center items-center pt-10">
    <!-- <div class="flex flex-col justify-center items-center w-1/4">
      <Image src={Software} alt="browser" height={220} class="pb-32 pl-16"></Image>
      <Image src={Files} alt="browser" height={300}></Image>
    </div>
   -->
    <div class="flex flex-col justify-center item-center w-2/4">
      <div class="flex flex-col w-full items-center text-center space-y-10">
        <h1 class="text-8xl font-serif inline-block">Your Research <span class=" font-serif italic">Deserves</span> <span class="underline decoration-red-500 font-serif">Better Software</span> <span onclick="window.location='https://effie.bio'"class="animate-[spin_5s_linear_infinite] text-6xl text-red-500 font-serif hover:cursor-pointer hover:text-red-700 inline-block">✻</span></h1>
        <p class="text-2xl">
         Our vision is to accelerate science by improving <br/>every scientific software niche.
        </p>
        <button class="btn-primary w-full md:w-auto h-[55px] cursor-pointer">Contact Us</button>
      </div>
    </div>
  
    <!-- <div class="flex flex-col justify-center items-center w-1/4">
      <Image src={Computer} alt="browser" height={580}></Image>
    </div> -->
  </div>



</Section>


