---
import { Image } from "astro:assets";
import HeroIlust from "../../assets/pics/browser.jpg";
import Section from "./Section.astro";
---

<Section id="home">
  <div
    class="fles flex-col mt-[135px] justify-center items-center"
  >
    <div class="flex flex-col w-full lg:w-[66.5%]">
      <h1 class="justify-bottom">Your Research Deserves Better Software</h1>
      <p class="mb-[24px]">
        We are on a quest to improve every scientific software niche to accelerate discovery.
      </p>
      <button class="btn-primary w-full md:w-auto">Book a consultation</button>
    </div>

    <div>
      <picture class="row-span-1 md:row-auto">
        <Image src={HeroIlust} alt="Hero Illustration" loading="eager" width={350} height={350}/>
      </picture>
      
    </div>

    <!-- <div class="w-full lg:w-[66.5%] justify-bottom">

    </div> -->
  </div>
</Section>
<style>
/* Add fixed heights */
.grid-template {
  grid-template-rows: auto minmax(200px, 1fr) auto;  /* example */
}

/* Or force equal heights */
.grid-template {
  grid-auto-rows: 1fr;
}
</style>
