---
import { Image } from "astro:assets";

const navLinks = [
{
    name: "Home",
    href: "#home",
  },{
    name: "Products",
    href: "#products",
  },{
    name: "Contact",
    href: "#contact",
  }
];

import bars from "../../assets/bars.svg";
// import brand from "../../assets/brand.jpg";
import brand from "../../assets/dryLogo.svg";

---

<div
  class="bg-[#fff] fixed w-full top-0 z-10 py-4 px-6 h-auto flex justify-between"
>
  <nav
    aria-label="Main Navigation"
    role="navigation"
    class="w-full flex h-full items-center"
  >
    <!-- Brand -->
    <div class="flex flex-row justify-bottom pr-1">
      <a href="#home" class="font-serif text-3xl">
         drylab
      </a>
      <!-- <h2 class="text-xl font-sans">rylab</h2> -->
    </div>

    <!-- Nav Menu -->
    <div
      id="navmenu"
      class="bg-transparent w-full absolute top-full z-10 pl-10 xl:static xl:flex xl:flex-grow xl:items-center xl:justify-center overflow-hidden transition-height duration-500 h-0 xl:h-auto"
    >
      <!-- Nav Links -->
      <ul class="xl:flex xl:flex-grow xl:justify-center xl:gap-10 text-xl">
        {
          navLinks.map((link) => {
            return (
              <li class="mx-4 p-4 xl:mx-0 px-0">
                <a id={link.name} href={link.href} class="block transition duration-150 ease-in-out hover:text-red-500">
                  {link.name}
                </a>
              </li>
            );
          })
        }
      </ul>      

      <button class="btn-primary" onclick="location.href='#contact'">Contact Us</button>

    </div>

  </nav>
</div>
